.login {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 50%;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em 2em;
	overflow-x: hidden;
	color: black;
}

.login .login-field {
	display: flex;
	justify-content: space-between;
}

.login-action {
	display: flex;
	justify-content: center;
}

.login-button {
	width: fit-content;
}
