#root {
	height: 100%;
}

.App {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100%;
	background-image: url('./assets/background-light.svg');
	background-position: center;
	background-size: cover;


	--actionColor: #0eabb7;
	--textColor: #ffffff;
	--selectedTextColor: #e7e2e2;
	--primaryColor: #0eabb7;
	--background: #e9f7f9;
	--base-light: #ffffff;
	--odd-row: #f4fbfc;
}

.content {
	height: 100%;
}

.content button {
	width: 180px;
	height: 30px;
	cursor: pointer;
	border: 1px solid;
	border-radius: 20px;
	color: var(--textColor);
	background-color: var(--actionColor);
}

.form-field {
	display: flex;
	justify-content: space-between;
	padding: 0.3rem;

}

.form-field input {
	padding: 0.4rem 0.5rem;
	border: 1px solid;
	border-radius: 20px;
}

.form-action {
	padding-top: 1.2rem;
}

button {
	cursor: pointer;
}
